{% load static %}

<footer class="bg-pink-300 py-4 px-8">
    <div class="flex justify-between items-center">
      <p class="text-black-300">
          <img src="{% static 'img/logo_full.png' %}" width="80" alt="logo full">
      </p>

      <p class="text-black-300 mx-3 md:mx-2 text-xs md:text-base">
        Desenvolvido com ❤️ por <a class="underline" href="https://github.com/dmp593" target="_blank">Daniel Pinto</a>
      </p>

      <div class="flex space-x-4">
        <a href="https://www.facebook.com/alcinaimobiliaria" target="_blank">
          <i class="ph-bold ph-facebook-logo text-2xl text-black-600"></i>
        </a>
        <a href="https://www.instagram.com/a.roqueimoveis/" target="_blank">
          <i class="ph-bold ph-instagram-logo text-2xl text-black-600"></i>
        </a>
      </div>
    </div>
  </footer>
  