{% extends "base.html" %}

{% load custom_formats %}

{% block content %}
<main class="flex-grow">
  <!-- Filtro -->
  <div class="flex justify-center items-center py-10">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-4xl">
      <h2 class="text-2xl font-bold mb-4 text-center">Filtrar Casas</h2>
      {% include "houses/components/form_house_list_filters.html" with house=house %}
    </div>
  </div>

  <!-- House List -->
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for house in houses %}
      <div class="bg-white rounded-lg {% if house.highlighted %}shadow-gold{% else %}shadow-lg{% endif %}">
        <img loading="lazy" src="{{ house.cover.file.url }}" alt="Casa" class="w-full h-48 object-cover rounded-t-lg">
        <div class="p-6">          
          {% include "houses/components/house_card_header.html" %}
          {% include "houses/components/house_card_summary.html" %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Pagination -->
  <div class="flex justify-center mt-6 ">
    <nav class="inline-flex rounded-md shadow">
      {% if houses.has_previous %}
        <a href="?page=1" class="px-3 py-2 bg-pink-500 border border-pink-300 text-white hover:bg-pink-700">Primeira</a>
        <a href="?page={{ houses.previous_page_number }}" class="px-3 py-2 bg-pink-500 border border-pink-300 text-white hover:bg-pink-700">Anterior</a>
      {% else %}
        <span class="px-3 py-2 bg-pink-200 border border-pink-300 text-pink-500 cursor-not-allowed">Primeira</span>
        <span class="px-3 py-2 bg-pink-200 border border-pink-300 text-pink-500 cursor-not-allowed">Anterior</span>
      {% endif %}
      {% for num in houses.paginator.page_range %}
        {% if houses.number == num %}
          <span class="px-3 py-2 bg-purple-500 border border-purple-300 text-white">{{ num }}</span>
        {% elif num > houses.number|add:'-3' and num < houses.number|add:'3' %}
          <a href="?page={{ num }}" class="px-3 py-2 bg-white border border-pink-300 text-pink-500 hover:bg-pink-50">{{ num }}</a>
        {% endif %}
      {% endfor %}
      {% if houses.has_next %}
        <a href="?page={{ houses.next_page_number }}" class="px-3 py-2 bg-pink-500 border border-pink-300 text-white hover:bg-pink-700">Próxima</a>
        <a href="?page={{ houses.paginator.num_pages }}" class="px-3 py-2 bg-pink-500 border border-pink-300 text-white hover:bg-pink-700">Última</a>
      {% else %}
        <span class="px-3 py-2 bg-pink-200 border border-pink-300 text-pink-500 cursor-not-allowed">Próxima</span>
        <span class="px-3 py-2 bg-pink-200 border border-pink-300 text-pink-500 cursor-not-allowed">Última</span>
      {% endif %}
    </nav>
  </div>

  <!-- Pagination Count -->
  <div class="flex justify-center mt-3 mb-10">
    <span class="text-gray-700">Página {{ houses.number }} de {{ houses.paginator.num_pages }} - Total de {{ houses.paginator.count }} resultados</span>
  </div>
</main>
{% endblock %}
