{% extends "base.html" %}

{% block content %}
<main class="px-8 py-14 flex-grow bg-gray-100">
  <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="p-6">
      <h1 class="text-4xl font-bold text-center text-gray-800">Contacte-me</h1>
      <p class="text-lg mt-3 font-light text-center text-gray-600">Eu gostaria de ouvir a sua opinião e o seu sonho de habitação.</p>
      <p class="mt-2 font-light italic text-center text-gray-600">Pode entrar em contato comigo pelos seguintes meios:</p>
      
      <div class="mt-8">
        <h2 class="text-2xl font-bold text-gray-800">Alcina Roque</h2>
        <p class="text-gray-600 mt-2">Agente Imobiliário</p>
        <p class="text-gray-600 mt-2">Licença AMI: <span class="text-pink-500 hover:text-pink-700">20835</span></p>
        <p class="text-gray-600 mt-10">Telemóvel: <a href="tel:+351912728880" class="text-blue-500 hover:text-blue-700">+351 912 728 880</a></p>
        <p class="text-gray-600 mt-2">Email: <a href="mailto:alcina@alcinaimoveis.pt" class="text-blue-500 hover:text-blue-700">alcina@alcinaimoveis.pt</a></p>

        <p class="text-right text-gray-600 mt-2">
          <a href="https://www.facebook.com/alcinaimobiliaria" target="_blank"><i class="ph-bold ph-facebook-logo text-2xl text-rose-600"></i></a>
          <a href="https://www.instagram.com/a.roqueimoveis" target="_blank"><i class="ph-bold ph-instagram-logo text-2xl text-blue-600"></i></a>
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
